parameters:
    level: 5

    # Archivos que PHPStan carga antes del análisis (aquí van tus stubs)
    bootstrapFiles:
        - stubs.php
        - conexion.php   # <-- útil si quieres definir $conn globalmente

    paths:
        - .

    excludePaths:
        analyse:
            - vendor/*
            - node_modules/*
            - includes/get_mascotas.php   # opcional, si te da problemas

    checkMissingIterableValueType: false


